APP_ENV=development
APP_DEBUG=true
APP_KEY=base64:XUdOYZ7F/rXswoGaULTSEkd8lNevhEh7X9YIS0RchVE=
APP_URL=https://dev-ipost.fastbazzar.com/

DB_CONNECTION=mysql
DB_HOST="ipost-dev-db.cdxndhuj6xz4.eu-central-1.rds.amazonaws.com"
DB_PORT=3306
DB_DATABASE=ipost
DB_USERNAME=ipostdev
DB_PASSWORD=Ip0st45fb3#sdr

CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_DRIVER=database

FASTBAZZAR_URL="https://dev.fastbazzar.com"
FIB_URL="https://fib.dev.azure.lawrence-spring.com"

REDIS_HOST="ipost-dev-elasticache.hgsl3l.0001.euc1.cache.amazonaws.com"
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

